 .root{
    -fx-fill:white;
 }
 .alive{
     -fx-background-color:red;
     -fx-border-color:black;
     -fx-border-width:0.1;
 }
 .dead{
     -fx-background-color:white;
     -fx-border-color:black;
     -fx-border-width:0.1;
 }