body {
text-align: center;
background-color: #3d3d43;

    position: absolute;
    right: 15%;
    width: 70%;
    border: 5px solid black;
}

h1 {
color:red;
	padding: 60px 0;
	/**margin: 30px;**/
}

.main {
font-size: 2rem;
text-align: center;
}

#Text1 {
font-size: 20px;
}

.buttons1 {
font-size: 30px;
color: yellow;
}

.disabled {
opacity: 0.6;
cursor: not-allowed;
}

.header {
position: fixed;
text-align: center;
height: 60px;
width: 100%;
background-color: rgba(0,0,0,0.8);
color: red;
top: 0;
left: 0;
font-size: 20px;
}

.bottom {
position: relative;
text-align: center;
bakground-color: black;
color: white;
top: 100%
}